  <div class="trypad">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1623038455007-891466ff6016?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1286)">
        Tribe Alive
      </div>
      <div class="navbar-itemb">
        <ul>
          <li> <%= link_to "Products", products_path, class:"greennav" %> </li>
          <li> <%= link_to "About Us", about_path, class:"greennav"%></li>
          <li> <%= link_to "Contact", contact_path, class:"greennav"%></li>
        </ul>
      </div>
  </div>
<h1> Welcome to the tribe. </h1>
<h2> List of our products : </h2>

<div class="wrapper">
  <%= @products.each do |product| %>
  <h1> <%= link_to product.name, product_path(product) %> - $ <%= product.price %></h1>
  <h3> <%= product.category %></h3>
  <h3> Sizes Available </h3>
  <%= product.size %>
  <% end %>
</div>
